<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

<title>ModestGreeter (<%= @name %>)</title>

<html>
  <body>
    <header>
      <h1>ModestGreeter</h1>
    </header>
    <main>
      <%= @inner_content %>
    </main>
    <footer>
      &copy; 2021 Coregenik Inc.
    </footer>
  </body>
</html>